/* Utilities */
:root {
    --blue-color: #33559a;
    --purple-color: #563d7c;
    --red-color: #e34c26;
    --green-color: #0baf4e;
    --text-color: #fff;
    --light-color: #ccc;
    --lighter-color: #f4f4f4;
    --dark-color: #333;
    --darker-color: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        line-height: 1.6;
        font-family: 'Roboto', sans-serif;
        background: var(--lighter-color);   
        color: var(--text-color);
    }

a {
    text-decoration: none;
    color: var(--lighter-color);
}

ul {
    list-style: none;
    
}

img {
    width: 100%;
}

/* Buttons */
.btn {
    display: inline-block;
    color: var(--lighter-color);
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn-border {
    border: 1px solid var(--lighter-color);
}

.btn-shaddow {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
}

.btn-blue {background: var(--blue-color) !important;}
.btn-purple {
    background: var(--purple-color) !important;
    color: var(--lighter-color);
}

.btn-dark {
    background: var(--darker-color) !important;
    color: var(--lighter-color) !important;
}
.btn-light {background: var(--lighter-color) !important;}


.btn.btn-purple:hover {
    background: var(--lighter-color) !important;
    color: var(--purple-color) !important;
}

.btn.btn-blue:hover {
    background: var(--lighter-color) !important;
    color: var(--blue-color);
}

/* Backgrounds */
.bg-blue {background: var(--blue-color);}
.bg-purple {background: var(--purple-color);}
.bg-dark {
    background: var(--darker-color);
    color: var(--lighter-color);
}
.bg-light {
    background: var(--lighter-color);
    color: var(--dark-color);
}

/* Flex Columns */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}




/* Navbar */
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    color: var(--lighter-color);
    background: var(--darker-color);
    top: 0;
    opacity: 0.6;
    transition: all 0.5s;
    border-bottom: 1px solid var(--lighter-color);
    padding: 0 1rem;
}

nav.top {
    background: transparent;
    height: 85px;
    opacity: 0.6;
}

nav ul {
    display: flex;
}

nav .logo {
    width: 128px;
    height: 72px;
}

nav ul li {
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

nav ul li:last-child {
    margin-right: 1rem;
}


nav ul li a {
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: var(--blue-color);
}


/* Hamburger Menu */
.hamburger {
    background: transparent;
    border: none;
    color: var(--lighter-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}


/* Header */
.showcase-container {
    background: url('../img/Background.png') no-repeat center center / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #f4f4f4;
    
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 200px;
}

header * {
    z-index: 1;
}

.showcase-container .content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.showcase-container .content p {
    font-size: 2rem;
    margin-top: 1rem;
}

.showcase-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* About: Icons */
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap ;
}

.flex-items > div {
    padding: 2rem;
}

.flex-items div:first-child {
    font-size: .9rem;
}

.flex-items div:nth-child(3) {
    font-size: .9rem;
}

/* About: Me */
main, #about {
    width: 100%;
}
.flex-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container .column-a img {
    width: 100%;
    height: 100%;
    background: no-repeat center center / cover;
}

.flex-container .column-a {
    height: 100%;
}

.flex-container .column-b {
    height: 100%;
    padding: 10rem 5rem 10rem 7rem;
}

.flex-container .column-b h3 {
    margin-bottom: 2rem;
    margin: 0;
    font-weight: 100;
    font-size: 1.5rem;
}

.flex-container .column-b h2 {
    margin-bottom: 4rem;
    font-size: 2rem;
}

.column-b p {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


/* Technologies */
.technologies {
    padding: 3rem;
}

.technologies h2 {
    font-size: 2rem;
    text-align: center;   
    /* padding-top: 2rem; */
    color: var(--darker-color);
    font-weight: 800;
    text-transform: uppercase;
}


.technologies-container ul {
    justify-content: space-between;
    padding: 0 3rem;
}

.technologies-container ul li {
    color: var(--darker-color);
}


/* Contact */
.column-a img {
    background: no-repeat center center / cover;
}

button[type='submit'] {
    margin: 1rem;
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    line-height: 1.6;
    font-size: 1rem;
    background: var(--purple-color) !important;
    cursor: pointer;
    transition: all 0.5s ease;
}

button[type='submit']:hover {
    color: var(--purple-color) !important;
    background: var(--lighter-color) !important;
}

input {
    width: 70%;
    height: 30px;
    margin: 1rem;
}

textarea {
    margin: 1rem;
    width: 70%;
    height: 200px;
}

/* Footer */
.footer {
    background: var(--darker-color);
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.footer-links > *  {
    margin-right: 1rem;
}

.footer-links:nth-child(1) a {
    cursor: none !important;
}

p {
    display: inline;
}

.footer.a {
    margin: 0;
}

.footer-icons {
    transition: all 0.5s ease;
    border: 2px solid var(--lighter-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}


.fab:hover {
    color: var(--purple-color);
    border: 2px solid var(--purple-color);
}

.mobile-copyright {
    display: none;
}


@media(max-width: 1024px) {
    /* Utilities */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }


    /* Navbar */
    header * {
        z-index: auto;
    }

    .content a {
        display: none;
    }

    .nav-border {
        border-bottom: none !important;
    }

    .navbar {
        position: relative;
    }

    .nav-ul {
        display: none !important;
        /* width: 100vw !important; */
        flex-direction: column !important;
    }

    .nav-ul.show {
        display: flex !important;
        justify-content: center ;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(5 ,1fr) !important;
        align-items: center !important;
        background: rgba(0, 0, 0, 0.9);
        width: 100% !important;
        height: 100vh !important;
        padding: 1rem 0;
        position: absolute;
        top: 75px;
        left: 0;        
    }

    .nav-ul.show  * {
        z-index: 300 !important;
    }
    
    .nav-ul.show li {
        margin: 1rem;
    }

    .hamburger {
        display: block  !important;
    }


    .navbar-style {
        visibility: hidden;
    }

    /* Header */
    .no-z {
        z-index: auto;
    }

    .content-container {
        padding: 0 100px;
    }

    .showcase-container .content h1 {
        font-size: 2rem;
    }

    .flex-items {
        flex-direction: column;
        align-items: center;
    }

    /* About: Me */    
    .flex-container .column-b > h3 {
        margin: 20px 0 2rem;
    }
    
    .flex-container .column-b > h2 {
        margin-bottom: 3rem;
    }
    
    .column-b p {
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
    }

    .column-b > a {
        margin-bottom: 1.5rem;
    }
    /* copy */


    .flex-container {
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }

    .ul.flex-items {

        flex: none;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }

    .flex-container .column-b {
        height: 100%;
        padding: .5rem;
    }

    /* Technologies */
    .technologies h2 {
        margin-bottom: 1rem;
    }
    

    .technologies-container ul li {
        margin: 1rem;
    }
    

    /* Contact */
    #contact {}

    .column-a img {
        background: no-repeat center center / cover;
    }
    
    button[type='submit'] {
        margin: 1rem;
        display: inline-block;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 10px 30px;
        line-height: 1.6;
        font-size: 1rem;
        background: var(--purple-color) !important;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    button[type='submit']:hover {
        color: var(--purple-color) !important;
        background: var(--lighter-color) !important;
    }

    .column-b > h2 {
        margin: 1rem 0 2rem !important;
    }

    input {
        margin: 1rem 0 1rem;
        width: 100%;
    }
    
    textarea {
        margin: 1rem 0 1rem;
        width: 100%;
    }

    /* Footer */
    .footer-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .footer-links {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px 5px 10px;
        align-items: center;
    }

    .mobile-copyright {
        display: inline;
        padding: 5px 5px 10px;
    }

    .desktop-copyright {
        display: none;
    }

    .footer.a {
        margin: 0;
    }

    .footer-icons {
        display: none;
    }

    .fab:hover {
        color: var(--purple-color);
        border: 2px solid var(--purple-color);
    }

}